<head>
    <title>login</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <header class="page-header">
            <div class="top">
                <img src="/img/logo.jpg" style="height: 100px;">
            </div>
                <ul class="nav-list">
                    <li class="nav-item"><a href="">Inmbuebles</a></li>
                    <li class="nav-item"><a href="">Contactenos</a></li>
                    <li class="nav-item"><a href="">Buscador</a></li>
                </ul>
                <ul class="nav-log">
                    <li class="nav-item"><a href="">Login</a></li>
                    <li class="nav-item"><a href="">Registrarse</a></li>
                </ul>
            </nav>
    </header>
    </header>
    <form action="/login" method="POST">
        <div class="texto">
            <label for="email">E-mail:</label>
            <input type="text" id= "email" name="email" placeholder="email">
        </div>
        <div class="texto">
            <label for="contraseña">Contraseña:</label>
            <input type="text" id= "contraseña" name="contraseña">
        </div>
        <div class="texto">
            <label for="rec.usu">Recordar nombre de usuario?</label>
            <input type="checkbox" id="rec.usu">
        </div>
        <input class= "texto" type="submit" value="Enviar">
    </form>
</body>